<p>
<%= @author_name %> has continued your story, "<%= @story_name %>", now it is your turn!
</p>
<p>
<%= link_to 'Continue the story..', "#{root_url}stories/#{@story_id}" %>
</p>
<p>
Yours truly,<br/>
Our Story
</p>
