<p>
Hi <%= @user.name %>!
</p>
<p>
You've been invited by <i><%= @story.author.name %></i> to continue their story, <i>"<%= @story.title %>"</i>.
</p>
<p>
The first part is already written:
</p>
<blockquote>
<%= @story.chapters.first.content.last(100) %>
</blockquote>
<p>
Now it is up to you to continue.<br/><%= link_to 'Click here to continue the story', "#{root_url}stories/#{@story.id}" %>
</p>
<p>
Yours truly,<br/>
Our Story
</p>
