<p>
Hi <%= @user.name %>!
</p>
<p>
You've been invited by <i><%= @story.author.name %></i> to join them at <%= link_to 'Our Story', root_url %>.
</p>
<p>At Our Story you can write stories together, taking turns to write pieces of an adventure.</p>
<p><%= @story.author.name %> has already begun writing a story named <i>"<%= @story.title %>"</i> and wants you to join them</p>
<p>
Our Story is based on a collaborative story writing game I did as a kid. You have a partner and a paper. One of you starts, writing a fews sentances and then you fold the paper, revealing only the last sentance. From there the next person continues.
</p>
<p>
The result is usually inconsistent albeit hilarious. This is a modern take on the same concept allowing us to share a bit of creativite across time and place using technology.
</p>
<p>
Head over to <%= link_to 'Our Story', "#{root_url}login" %> and log in using your email, "<%= @user.email %>" and the password "<%= @password %>" and get writing!
</p>
<p>
Yours truly,<br/>
Our Story
</p>
