<template>
  <div id="app-container">
    <router-view></router-view>
  </div>
</template>

<style scoped>
#app-container {
    animation: fadein 1s;
    animation-timing-function: ease-out; 

    text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
</style>