<template>
  <div>
    <top-link></top-link>
    <div v-if="story">
      <h1>{{ story.title }}</h1>
      <ripped-box>
        <h2>{{ $t('story.storyThisFar') }}</h2>
        <p v-bind:key="chapter" v-for="chapter in story.chapters">
          {{ chapter }}
        </p>
        ... {{ story.lastContent }} (<span>{{ $t('story.by') }} {{ story.lastAuthor.name }}</span>)
      </ripped-box>
      <p>
        {{ $t('story.continue') }}
      </p>
      <content-box v-model="content"></content-box>
      <p>
        {{ $t('story.displayedToNextPerson' )}}
      </p>
      <p class="next-content">{{ nextContent }}<p>
        <button id="pass" v-on:click="passOn">{{ $t('story.toNextAuthor') }}</button>
      </p>
    </div>
    <div v-else>
      <p>{{ $t('story.loading') }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      story: null,
      content: '',
      storyId: this.$route.params.id
    }
  },
  computed: {
    nextContent: function () {
      const lastHundred = this.content.length > 100 ? this.content.substring(this.content.length - 100) : this.content;
      return lastHundred;
    }
  },
  created: async function() {
    try {
      const story = await this.$postService.getStory(this.storyId);
      this.story = {
        chapters: story.chapters,
        title: story.title,
        lastContent: story['last_entry'],
        lastAuthor: story['last_author']
      }
      if (story.chapters.length > 0) {
        story.chapters = story.chapters.slice(0, -1)
      }
    } catch(err) {
      console.log(err);
      alert(this.$t('story.loadError'));
    }
  },
  methods: {
    async passOn() {
      await this.$postService.postNext(this.storyId, this.content);
      this.$router.push('/stories');
    }
  }
}
</script>

<style lang="scss" scoped>

.next-content {
  color: green;
}

a.invalid {
  text-decoration: line-through;
}

a.invalid::before, a:invalid::after {
  content: ''
}

textarea {
  height: 300px;
  width: 100%;
  border: none;
  font-family: 'Indie Flower', cursive;
  font-size: 16pt;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}

textarea:focus-within {
  border: none;
  outline: none;
}

input {
  font-family: 'Indie Flower', cursive;
  border: none;
  font-size: 12pt;
  margin-left: 10px;
  border-bottom: 1px solid #fff;
}

#titleInput {
  text-align: center;
  font-size: 3em;
}

input:hover {
  border-bottom: 1px solid #000;
}

$main-color: #fffdF3;
$bg-color: white;

.ripped-container-main {
  position: relative;
  margin: 40px 100px;

  .ripped-container-box {
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: $main-color;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);

    &:before, &:after {
      content: ""; height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
    }
    &:before {
      background-color: $bg-color;
      top: 0;
    }
    &:after {
      background-color: $main-color;
      bottom: -2px;
    }
  }
}

</style>
