<template>
  <ripped-box>
    <textarea id="content" v-bind:value="value" v-on:input="$emit('input', $event.target.value)"></textarea>
  </ripped-box>
</template>

<script>
export default {
  props: ['value']
}
</script>

<style scoped>

textarea {
  height: 300px;
  width: 100%;
  border: none;
  font-family: 'Indie Flower', cursive;
  font-size: 16pt;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}

textarea:focus-within {
  border: none;
  outline: none;
}

</style>
