<template>
  <modal ref="popupModal">
    <div>
      <p><span>{{ $t('inviteModal.title') }}</span></p>
      <form v-on:submit.prevent>
        <p>
          <label>{{ $t('inviteModal.authorEmail') }}: <input id="coAuthorEmail" type="email" v-model="coAuthorEmail" /></label>
        </p>
        <p>
          <label>{{ $t('inviteModal.authorName') }}: <input id="coAuthorName" type="text" v-model="coAuthorName" /></label>
        </p>
        <p v-if="error" class="error">{{ error }}</p>
        <p>
          <button v-on:click="addAuthor">{{ $t('inviteModal.add') }}</button>
        </p>
        <ul v-if="authors.length">
          <li v-bind:key="author.email" v-for="author in authors">{{ author.name }} <a v-on:click="remove(author.email)">[ remove ]</a></li>
        </ul>
      </form>
      <button v-on:click="complete">{{ $t('inviteModal.send') }}</button>
    </div>
  </modal>
</template>

<script>
export default {
  data: function () {
    return {
      coAuthorEmail: '',
      coAuthorName: '',
      authors: [],
      error: null
    }
  },
  methods: {
    show() {
      this.$refs.popupModal.show();
    },
    addAuthor() {
      if (this.validateEmail(this.coAuthorEmail)) {
        this.authors.push({
          email: this.coAuthorEmail.toLowerCase(),
          name: this.coAuthorName
        });
      }
    },
    validateEmail(coAuthor) {
      this.error = null;
      const emailRegex = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;
      if (!coAuthor.match(emailRegex)) {
        this.error = 'Please enter a valid email';
        return false;
      } else if (this.authors.includes(coAuthor.toLowerCase())) {
        this.error = 'Author email is already added';
        return false;
      }
      return true;
    },
    complete() {
      if (this.authors.length == 0) {
        this.error = 'Please enter at least one co-author email address';
        return;
      }
      this.$emit('completed', this.authors);
      this.$refs.popupModal.hide();
      return false;
    },
    remove(coAuthorEmail) {
      author = this.authors.find(function(auth) { return auth.email == coAuthorEmail });
      this.authors.splice(this.authors.indexOf(author))
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-box {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  align-content: center;
}

.error {
  color: red;
}

ul {
  list-style: none;
}

ul li::before {
  content: '🖋️'
}

</style>
