<template>
  <div>
    <h1 class="landing-title load">Our story</h1>
    <router-link class="main-link" to="/register">
      {{ $t('title') }}
    </router-link>
    <div v-if="loggedIn" class="logged-in-menu">
      <p>
        <router-link to="/stories">{{ $t('show-my-stories') }}</router-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
    }
  },
  computed: {
    loggedIn: function() {
      return this.$store.getters.loggedIn;
    }
  },
  i18n: {
    messages: {
      en: {
        'show-my-stories': 'Show my started stories',
        title: 'Begin our story'
      },
      sv: {
        'show-my-stories': 'Visa mina påbörjade historier',
        title: 'Låt vår saga börja'
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import "../assets/stylesheets/_mixins.scss";

h1.landing-title {
  margin-top: 200px;
  font-size: 5em;
}

.main-link {
  margin-top: 50px;
  font-size: 1.5em;
}

.logged-in-menu {
  margin-top: 100px;
}
</style>
