<template>
  <div>
    <h1 class="landing-title load">{{ $t('login.title') }}</h1>
    <form v-on:submit.prevent>
      <p>
        <label>{{ $t('login.email') }}</label><input v-bind:placeholder="$t('login.emailPlaceholder')" type="email" id="email" v-model="email" />
      </p>
      <p>
        <label>{{ $t('login.password') }}</label><input placeholder="password" type="password" id="password" v-model="password" />
      </p>
      <p v-if="error" class="error">
        <span>{{ error }}</span>
      </p>
      <button type="submit" v-on:click="login()">{{ $t('login.login') }}</button>
    </form>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  created: function () {
    if (this.$store.getters.loggedIn) {
      this.$router.push('/stories');
    }
  },
  methods: {
    login: async function() {
      try {
        this.error = null;
        await this.$authService.login(this.email, this.password);
        const nextUrl = this.$route.query.nextUrl || '/stories';
        this.$router.push(nextUrl);
      } catch (err) {
        console.log(err);
        this.error = this.$t('login.failure');
      }
    }
  }
}
</script>

<style scoped>

input {
  font-family: 'Indie Flower', cursive;
  border: none;
  margin-left: 10px;
  font-size: 1em;
  border-bottom: 1px solid #fff;
}

input:hover {
  border-bottom: 1px solid #000;
}

.error {
  color: red;
}

</style>
