<template>
  <div>
    <h1>{{ $t('logout.title') }}</h1>
    <top-link></top-link>
  </div>
</template>

<script>
export default {
  created: function() {
    this.$store.commit('logout');
  }
}
</script>

<style scoped>
</style>
