<template>
  <div v-if="visible" class="modal-overlay">
    <div class="modal-box">
      <div v-on:click="hide()">[ close ]</div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      visible: false
    }
  },
  methods: {
    hide() {
      this.visible = false;
    },
    show() {
      this.visible = true;
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-box {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  align-content: center;
}

</style>
