<template>
  <div class="ripped-container-main">
    <div class="ripped-container-box">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$main-color: #fffdF3;
$bg-color: white;

.ripped-container-main {
  position: relative;
  margin: 40px 100px;

  .ripped-container-box {
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: $main-color;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);

    &:before, &:after {
      content: ""; height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
    }
    &:before {
      background-color: $bg-color;
      top: 0;
    }
    &:after {
      background-color: $main-color;
      bottom: -2px;
    }
  }
}
</style>
