<template>
  <div>
    <top-link></top-link>
    <h1 class="landing-title load">{{ $t('signUp.title') }}</h1>
    <form v-on:submit.prevent>
      <p>
        <label>{{ $t('signUp.name') }}</label><input v-bind:placeholder="$t('signUp.namePlaceholder')" type="text" id="nameInput" v-model="name" />
      </p>
      <p>
        <label>{{ $t('signUp.email') }}</label><input v-bind:placeholder="$t('signUp.emailPlaceholder')" type="email" id="emailInput" v-model="email" />
      </p>
      <button type="submit" class="main-link" v-on:click="signUp">
        {{ $t('signUp.begin') }}
      </button>
    </form>
    <p><router-link to="/login">{{ $t('signUp.login') }}</router-link></p>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: '',
      email: ''
    }
  },
  created() {
    if (this.$store.getters.loggedIn) {
      this.$router.push('/new-story');
    }
  },
  methods: {
    async signUp() {
      await this.$authService.register(this.name, this.email);
      this.$router.push('/new-story');
    }
  }
}
</script>

<style scoped>

input {
  font-family: 'Indie Flower', cursive;
  border: none;
  margin-left: 10px;
  font-size: 1em;
  border-bottom: 1px solid #fff;
}

input:hover {
  border-bottom: 1px solid #000;
}

</style>
