<template>
  <div>
    <h1>{{ $t('stories.title') }}</h1>
    <div class="center-container">
      <div class="card-list">
        <ripped-box v-for="story in stories" v-bind:key="story.id">
          <p class="title">{{ story.title }}</p>
          <ul>
            <li>{{ $t('stories.lastWriter') }}: {{ story.lastAuthor }}</li>
            <li>{{ $t('stories.otherWriters') }}: {{ story.authorNames.join(', ') }}</li>
          </ul>
          <router-link v-if="story.myTurn" v-bind:to="'/stories/' + story.id">{{ $t('stories.continue') }}</router-link>
          <router-link v-else v-bind:to="'/stories/' + story.id">{{ $t('stories.edit') }}</router-link>
        </ripped-box>
      </div>
    </div>
    <p>
      <router-link to="/new-story">{{ $t('stories.newStory') }}</router-link>
    </p>
  </div>
</template>

<script>

export const helpers = {
  isAuthorMe: function(myEmail, author) {
    return myEmail.toLowerCase() == author.toLowerCase();
  }
}

export default {
  data: function() {
    return {
      stories: [],
    }
  },
  created: async function () {
    const myEmail = this.$store.state.email;
    const stories = await this.$postService.getStories();
    this.stories = stories.map((story) => {
      return {
        id: story.id,
        title: story.title,
        lastEntry: story.lastEntry,
        lastAuthor: story.lastAuthor.name,
        authorNames: story.authors.filter((author) => !helpers.isAuthorMe(myEmail, author.email)).map((author) => author.name),
        myTurn: !helpers.isAuthorMe(myEmail, story.lastAuthor.id)
      }
    });
  }
}
</script>

<style scoped>

.title {
  font-size: 2em;
}

ul {
  list-style-type: none;
  padding: 0px;
  font-size: 0.7em;
}

.center-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-list {
  display: flex;
  justify-content: center;
  max-width: 80%;
  flex-wrap: wrap
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
}
</style>
