<template>
  <div>
    <p><router-link to="/">{{ $t('toTop') }}</router-link></p>
  </div>
</template>

<script>
export default {
  i18n: {
    messages: {
      en: {
        'toTop': 'Back to top'
      },
      sv: {
        'toTop': 'Tillbaks till toppsidan'
      }
    }
  }
}
</script>
