<template>
  <div>
    <top-link></top-link>
    <p>
      <input v-bind:placeholder="$t('write.titlePlaceholder')" type="text" id="titleInput" v-model="title" />
    </p>
    <div>
      <content-box v-model="content"></content-box>
    </div>
    <p>
      {{ $t('write.displayedToNextPerson' )}}
    </p>
    <p class="next-content">{{ nextContent }}<p>
      <button id="pass" v-on:click="passOn">{{ $t('write.toNextAuthor') }}</button>
    </p>
    <inviteModal ref="inviteModal" v-on:completed="invite"></inviteModal>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      title: '',
      content: 'Once upon a time'
    }
  },
  computed: {
    nextContent: function () {
      const lastHundred = this.content.length > 100 ? this.content.substring(this.content.length - 100) : this.content;
      return lastHundred;
    }
  },
  methods: {
    passOn() {
      this.$refs.inviteModal.show();
    },
    async invite(coAuthorEmails) {
      await this.$postService.postResponse(this.title, this.content, coAuthorEmails);
      this.$router.push('/stories');
    }
  }
}
</script>

<style scoped>

.next-content {
  color: green;
}

a.invalid {
  text-decoration: line-through;
}

a.invalid::before, a:invalid::after {
  content: ''
}

input {
  font-family: 'Indie Flower', cursive;
  border: none;
  font-size: 12pt;
  margin-left: 10px;
  border-bottom: 1px solid #fff;
}

#titleInput {
  text-align: center;
  font-size: 3em;
}

input:hover {
  border-bottom: 1px solid #000;
}

</style>
