@import "_mixins.scss";

body {
    font-family: 'Indie Flower', cursive;
    font-size: 12pt;

    @include for-phone-only {
      font-size: 30pt;
    }
}

a {
    text-decoration: none;
    color: #000;

    /* allows for hands not to shift position on hover */
    line-height: 1.5em;
}

a:hover {
    text-decoration: underline;
}

a:hover::after {
    content: "☜";
}

a:hover::before {
    content: "☞";
}

button {
  align-self:center;
  background:transparent;
  padding:1rem 1rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:#41403E;
  font-size: 1em;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 2px #41403E;
}

button:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
